* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

body {
    background-color: var(--roxo-escuro) !important;
}

nav {
    background-color: var(--roxo-medio);
    height: 100%;
    min-height: 150px;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 1rem),
        0 100%
    );
    
}

.container {
    display: flex !important;
    justify-content: space-between !important;
}
.navbar-brand {
    color: var(--rosa) !important;
    letter-spacing: 10px;
    font-size: 3em !important;
    font-family: 'Poppins';
    font-weight: 600;
    transition: 0.2s;
}

.navbar-brand:hover {
    letter-spacing: 20px;
    transform: 0.2s;
}

.navbar-nav {
    width: 30%;
    display: flex;
}

.nav-link {
    color: var(--rosa) !important;
    font-size: 1.2em !important;
}

.nav-link:hover {
    font-size: 1.5em !important;
    border-bottom: 1px solid var(--rosa);
    transition: 0.2s;
}

nav button {
    border: none !important;
}

.astronauta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circulo1 {
    position: relative;
    background: linear-gradient(45deg, var(--rosa), var(--azul-claro));
    height: 70px;
    width: 70px;
    border-radius: 50%;
    top: -50px;
    right: -90%;
    z-index: 9;
}

.circulo2 {
    position: absolute;
    height: 300px;
    width: 300px;
    border: 1px solid var(--azul-claro);
    border-radius: 50%;
    left: -100px;
    top: 400px;
    z-index: -10;
}

.astronauta img{
    animation: flutuarAstronauta 3s ease-in-out infinite;
}

@keyframes flutuarAstronauta {
    50% {
        transform: translate(30px, 20px);
    }
}

.astronauta::after {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 20px;
    bottom: 5px;
    filter: blur(10px);
    animation: flutuarSombra 3s ease-in-out infinite;
}

@keyframes flutuarSombra {
    50% {
        transform: scale(1.3);
        background: rgba(0, 0, 0, 0.6);
    }
}

.apresentacao {
    font-family: 'Poppins';
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.apresentacao h1 {
    font-size: 3em;
    line-height: 40px;
}

.apresentacao h2 {
    font-size: 4.5em;
    font-weight: 600;
    line-height: 60px;
}

.MultiText {
    color: var(--rosa);
}

.find-me {
    line-height: 60px;
}

.find-me a {
    color: var(--roxo-claro);
}

.titulo h1{
    color: var(--azul-claro);
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
}

.trabalho1 img {
    width: 100%;
    height: auto;
}